{% load static %}
{% load text_parse %}

<html>
    <head>
        <title>Pokemon Text Adventure</title>
        <script language="javascript" type="text/javascript" src="{% static 'js/vendor/angular.min.js' %}"></script>
        <script language="javascript" type="text/javascript" src="{% static 'js/engine.js' %}"></script>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">
        <div>
            <p ng-repeat="text in scene.text">{$text$}</p>

            <div ng-repeat="option in scene.options">
                <input type="button" value="{$option.name$}" ng-click="advance(option.key)"/>
            </div>

            <ul>
                <li>Name: {$scene.character.name$}</li>
                <li>HP: {$scene.character.hp.current$} / {$scene.character.hp.max$}</li>
                <li>Lust: {$scene.character.lust.current$} / {$scene.character.lust.max$}</li>
            </ul>

            <ul ng-if="scene.extra.enemy">
                <li>Enemy: {$ scene.extra.enemy.name $}</li>
                <li>HP: {$ scene.extra.enemy.hp.current $} / {$ scene.extra.enemy.hp.max $}</li>
            </ul>
        </div>

    <input type="button" ng-click="update()" value="Refresh">
    </body>
</html>